# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.DS_Store

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws
out/


# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/
# 根目录的 pubspec.lock 通常在插件项目中不提交
/pubspec.lock

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/.kotlin/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/ephemeral/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner.xcworkspace/xcuserdata
**/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
**/ios/Runner.xcodeproj/project.xcworkspace/xcuserdata
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/.symlinks/
**/ios/Pods/
.symlinks/
Pods/

# SwiftPM
**/.swiftpm/

# FVM
.fvm/